body {
  background-color: darkorange;
}

/* .container {
  display: flexbox;
  justify-content: center;
  align-items: center;
} */

.mainbody {
  background-color: deepskyblue;
  width: 200px;
  height: 200px;
}
