<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpha</title>
  </head>
  <body>
    <h1>This is for Loop Work</h1>
    <ul>
      <% for(var letter of alphabets) { %>
      <li><% letter %></li>
      <% } %>
    </ul>
  </body>
</html>
