<%- include('partials/header') %> 
<%- include('partials/nav') %> 
    <div class="container">
      <h1>This is for Loop Work</h1>
      <ul>
        <% for(var letter of alphabets) { %>
        <li style="color: white"><%= letter %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
