<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products List</title>
  </head>
  <body>
    <div class="container">
      <h2
        class="display-3 mx-auto"
        style="max-width: 400px; text-align: center"
      >
        Products
      </h2>

      <ul id="list">
        <% for(var product of pdts) { %>
        <div class="row m-3">
          <div id="pdt_name" class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3"></div>
        </div>
        <% } %>
      </ul>
    </div>
  </body>
</html>
