<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: darkcyan; color: aliceblue">
    <div class="container">
      <h2
        class="display-3 mx-auto"
        style="max-width: 400px; text-align: center"
      >
        Products
      </h2>

      <ul id="list">
        <% for(var product of pdts) { %>
        <div class="row m-3 bg-primary">
          <div id="pdt_name" class="col-5"><%= product.name %></div>
          <div id="pdt_price" class="col-2"><%= product.price %></div>
          <div id="pdt_category" class="col-5"><%= product.pdt_category %></div>
        </div>
        <% } %>
      </ul>
    </div>
  </body>
</html>
