<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Comments</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h2 class="display-2 d-grid col-5 mx-auto" style="text-align: center">
        All Comments
      </h2>
      <div class="row" style="text-align: center">
        <% for(var comment of comments) { %>
        <div class="col-5">
          <span><%= comment.comment %> </span>
        </div>
        <div class="col-3">
          <span><%= comment.username %> </span>
        </div>
        <div class="col-2">
          <button class="btn btn-primary">Details</button>
        </div>
        <div class="col-2">
          <button class="btn btn-danger">Delete</button>
        </div>

        <% } %>
      </div>
    </div>
  </body>
</html>
